body {
    background-color: #f5f5dc;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
  color: rgb(244, 246, 248);
  position: fixed;
  font-size: 25px;
  text-align: center;
  width: 100%;
  top: 0;
  padding: 15.80px;
  transition: top 0.3s;
  background-color:#323d32;
  }

  .navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    z-index: 3;
  }
  nav {
    display: flex ;
    justify-content: space-between;
    background-color: rgba(228, 238, 208, 0.907);
    font-size: 15px;
    padding-top: 10px;
    z-index: 3;
  
  }
  
  nav a {
   
    color: rgb(13, 14, 14);
    justify-content: space-between;
    padding: 5px 15px;
    text-decoration: none;
    
  }
  
  nav a:hover {
    background-color:  #568c80c7;
    color: rgb(9, 9, 9);
  }
  
  .search-container {
      
      
      margin-bottom: 5px;
  }
  
  .search-container input {
      margin-right: 5px;
  }
  .search-container button {
      margin-right: 5px;
    }
  
    @media screen and (max-width: 568px) {
      nav a {
        display: flex; 
        
        
      }
      .search-container{
        display: flex;
       
      }
    }
  /* Add some padding to the body to prevent content from being hidden behind the fixed header */
body {
  padding-top: 60px;/* Adjust the value based on your header height */
}
section {
  
  padding: 0px 20px;
}
.upper-paragraph{
    
    width: 90%;
    margin: 0 auto;
    padding: 30px 20px 20px;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

@keyframes fade {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  #par1 {
    color: red;
    text-align: left;
    animation: fade 1s infinite; 
  }
  #par2 {
    color: red;
    text-align: center;
    animation: fade 1s infinite; 
  
  }

  #par3{
    text-align: justify;
    font-size: medium;
    color: #323d32;
  }

.question-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
    justify-content: center;
    align-items: center;
  
    
    
  }

  .question {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: justify;
  
  }

  .answer-input {
   
    width: 50px; /* Adjust the width of the input box as needed */
    padding: 10px;
    margin-right: 5px;
    box-sizing: border-box;
   
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .button-container button {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    background-color: #7aa67b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}
.button-container button:hover {
  background-color: #568c80; /* Adjust the background color for hover state */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a slight shadow on hover */
}

     .result-container {
    margin-top: 20px;
    font-size: 16px;
  }



    /* for footer */

    footer {
        text-align: center;
        padding: 10px;
        background-color:  #f5f5dc;
        color: rgb(197, 196, 196);
      }
    
      .social-icons {
        background-color:  #f5f5dc;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
      }
    
      .social-icons a {
        display: inline-block;
        margin: 0 10px;
        color: #000;
        text-decoration: none;
        transition: color 0.3s;
      }