body {
    background-color: #f5f5dc;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
  color: rgb(244, 246, 248);
  position: fixed;
  font-size: 25px;
  text-align: center;
  width: 100%;
  top: 0;
  padding: 15.80px;
  transition: top 0.3s;
  background-color:#323d32;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 10px;
}

nav {
  display: flex ;
  justify-content: space-between;
  background-color: rgba(228, 238, 208, 0.907);
  font-size: 15px;
  padding-top: 10px;

}

nav a {
 
  color: rgb(13, 14, 14);
  justify-content: space-between;
  padding: 5px 15px;
  text-decoration: none;
  
}

nav a:hover {
  background-color:  #568c80c7;
  color: rgb(9, 9, 9);
}

.search-container {
    
    
    margin-bottom: 5px;
}

.search-container input {
    margin-right: 5px;
}
.search-container button {
    margin-right: 5px;
  }

  @media screen and (max-width: 568px) {
    nav a {
      display: flex; 
      
      
    }
    .search-container{
      display: flex;
     
    }
  }


/* Add some padding to the body to prevent content from being hidden behind the fixed header */
body {
    padding-top: 60px; /* Adjust the value based on your header height */
}

section {
    padding: 15px;
  }
  h2 {
    color: #163b18;
    text-align: left;
  }

  /* trying blink with other method as it doesnt support the one*/

  @keyframes fade {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  #par1 {
    color: red;
    text-align: center;
    animation: fade 1s infinite; 
  }

  aside {
    font-style: italic;
    text-align: center;
  }

  /* for start button */

  .start-button {
    text-align: center;
    margin-top: 10px;
}

.start-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7b4d80; /* Adjust the background color as needed */
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.start-button a:hover {
    background-color: #338c37; /* Adjust the background color for hover state */
}

  /* for footer */

  footer {
    text-align: center;
    padding: 10px;
    background-color:  #f5f5dc;
    color: rgb(197, 196, 196);
  }

  .social-icons {
    background-color:  #f5f5dc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  .social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
  }



